# Konfigurasi lokal & rahasia
.env
.claude
CLAUDE.md

# Artefak Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/

# Capture paket (buat Fase 3)
*.pcap
*.pcapng

# Log & sementara
*.log
.DS_Store
Thumbs.db

*.pptx
*.mp4
*.docx
*.pdf
*.jpeg

/WhatsApp Image 2026-08-15 at 11.38.45 PM.jpeg
/videos
/Presentasi Bypass JWT.pptx
/Layanan API Web dengan Bypass JWT - Presentasi UAS_new.pptx